apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- "https://github.com/kubernetes-sigs/kueue/config/default?ref=v0.10.2"

configMapGenerator:
- name: manager-config
  behavior: replace
  files:
  - controller_manager_config.yaml

images:
- name: us-central1-docker.pkg.dev/k8s-staging-images/kueue/kueue
  newName: registry.k8s.io/kueue/kueue
  newTag: v0.10.2

patches:
- target:
    kind: Deployment
    name: controller-manager
  patch: |
    - op: add
      path: /spec/template/spec/containers/0/args/-
      value: "--zap-log-level=2"
